#goto {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
    align-items: center;
}

#goto-input {
    width: 100%;
    padding: 5px;
    font-size: large;
    outline: none;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    caret-color: rgba(255, 255, 255, 0.1);
}
#goto-input::selection {
    background-color: rgba(255, 255, 255, 0.1);
}
#goto-input:focus {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.5);
}

@keyframes goto-opt {
    from {
        opacity: 0;
        transform: translateY(-100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#goto-opts {
    display: none;
    max-height: 40vh;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    animation: goto-opt .1s;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
#goto-opts::-webkit-scrollbar {
    display: none;
}
.goto-opt {
    padding: 10px 5px;
    cursor: pointer;
    border-bottom: rgb(10, 10, 10) 2px solid;
}
.goto-opt.active {
    background-color: rgba(255, 255, 255, 0.05);
}
.goto-opt:last-child {
    border-bottom: none;
}
.goto-title {
    font-size: large;
    color: white;
}
.goto-desc {
    font-size: small;
    color: rgba(255, 255, 255, 0.3);
}